.container{
	@media (min-width: 1400px){
		width: 1340px;
		max-width:1340px;
	}
	@media (min-width: 1600px){
		width: 1536px;
		max-width:1536px;
	}
	@media (min-width: 1660px){
		width: 1594px;
		max-width:1594px;
	}
}

.col-lg-custom-1{
	@media (min-width:$lg){
		flex: 0 0 12.666667%;
        max-width: 12.666667%;
	}
		 @media (min-width:$xle-more){
flex:0 0 12.666667%;
 max-width: 12.666667%;
		 }
}
.col-lg-custom-1-last{
	
		 @media (min-width:$xle-more){
flex:0 0 8.666667%;
 max-width: 8.666667%;
		 }
}

.col-lg-custom-2{
	@media (min-width:$lg){
		flex: 0 0 21%;
        max-width: 21%;
	}
		 @media (min-width:$xle-more){
flex: 0 0 27%;
        max-width: 27%;
		 }
		     @media (min-width: $xle) and (max-width:$xle-more) {
       flex: 0 0 23%;
        max-width: 23%;
    }
}

.col-lg-footer-1{
	@media (min-width:$lg){
		flex: 0 0 22%;
        max-width: 22%;
	}
	@media (min-width:$xle){
		flex:0 0 15%;
		max-width: 15%;
	}
}
.col-lg-footer-2{
	@media (min-width:$lg){
		flex: 0 0 34%;
        max-width: 34%;
	}
	@media (min-width:$xle){
		flex: 0 0 55%;
        max-width: 55%;
	}
}

.custom-padding-hd{
		@media (min-width:$xle-more){
	padding: 0 50px;
}
}
.custom-margin-hd{
		@media (min-width:$xle-more){
	margin: 0 -50px;
}
}

.card-padding-hd{
		@media (min-width:$xle-more){
	padding: 0 40px;
}
}
.card-margin-hd{
		@media (min-width:$xle-more){
	margin: 0 -40px;
}
}

.container--small{
	@media (min-width: $lg){
	//	width: 1594px;
		max-width:860px;
	}
}
.container--article{
	@media (min-width: $lg){
	//	width: 1594px;
		max-width:940px;
	}
	  @media (min-width: $xle) and (max-width:$xle-more) {
	  	max-width:940px;
	  }
	  @media (min-width:$xle-more){
	  	max-width:1080px;
	  }
}