.header-main {
    background-image: none !important;
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: 141%;
    padding-bottom: 171px;
    overflow: hidden;
    position: relative;

    @media (min-width: $sm) {
        padding-bottom: 285px;
    }

    @media (min-width: $md) {
        padding-bottom: 355px;
    }
      @media (min-width: $xle) and (max-width:$xle-more) {
        padding-bottom: 285px;
    }


    //  height: 100vh;
    .container-fluid.fixed-top {
        border-bottom: 1px solid rgba(204, 204, 204, 0.231372549);
        background: #fff;

        @media (min-width: $lg) {
            border: 0;
        }

        .container {
            height: 60px;
            display: flex;
            align-items: center;
            position: relative;

            @media (min-width: $md) {
                transition: all 150ms ease-in-out;
            }

            @media (min-width: $lg) {
                justify-content: flex-end;
                height: 90px;
            }

            @media (min-width: $xle-more) {
                height: 110px;
            }
        }
    }

    .top-fixed {
        display: flex;
        align-items: center;
    }

    &__logo {
        display: inline-block;
        position: absolute;
        right: -10px;
        z-index: 2;
        @include vertical-center;

        @media (min-width: $md) {
            right: auto;
            left: 15px;
        }

        @media (min-width: $lg) {
            right: auto;
            left: 15px;
        }

        img {
            width: 220px;

            @media (min-width: $xle-more) {
                width: 248px;
            }
        }
    }

    &__nav-toggle {
        position: absolute;
        left: 0px;
        line-height: 0;
        margin-top: -1px;
        z-index: 2;
@include vertical-center;
        @media (min-width: $md) {
            right: 0;
            left: auto;
        }

        @media (min-width: $lg) {
            display: none;
        }

        .icon {
            font-size: 2rem;
        }

        &:hover,
        &:focus {
            .icon {
                color: $native-hover;
            }
        }
    }

    &__nav-toggle.active {
        .icon {
            color: $native-hover;
        }
    }
}

.entry-mobile-bg {
    margin-top: 25px;

    /* max-width: 150%; */
    width: 485px;
    margin: 0 auto;
    position: absolute;
    left: -50%;
    right: -50%;
    max-width: 1227px;
    bottom: 0;

    @media (min-width: $xs) {
        width: 537px;
    }

    @media (min-width: $sm) {
        width: 980px;
    }

    @media (min-width: $md) {
        width: 1173px;
    }

    @media (min-width: $lg) {
        width: 1576px;
        max-width: 1576px;
        right: -67%;
    }

    @media (min-width: $xl) {
        width: 1734px;
        max-width: 2576px;
        right: -64%;
    }

    @media (min-width: $xle-more) {
        width: 1958px;
        max-width: 2576px;
        right: -79%;
    }

    @media (min-width: $xle-hd) {
        width: 2185px;
        max-width: 2576px;
        right: -81%;
        bottom: 65px;
    }
}

.overflow-container {
    overflow: hidden;
}

.entry-content {
    margin-top: 25px;
    z-index: 1;
    position: relative;

    @media (min-width: $sm) {
        margin-top: 45px;
    }

    @media (min-width: $lg) {
        margin-top: 70px;
    }

    @media (min-width: $xle) {
        margin-top: 108px;
    }
  @media (min-width: $xle) and (max-width:$xle-more) {
            margin-top: 60px;
    }
    @media (min-width: $xle-more) {
        margin-top: 188px;
    }

    &__text {
        text-align: center;

        @media (min-width: $lg) {
            text-align: left;
        }

        .primary-heading {
            margin: 0 0 5px;
            color: $native-tertiary-color;

            @media (min-width: $md) {
                font-size: 4.5rem;
                line-height: 4.8rem;
                margin: 0 0 15px;
            }

            @media (min-width: $xle) {
                font-size: 6rem;
                line-height: 6.5rem;
            }

            @media (min-width: $xle-more) {
                font-size: 7rem;
                line-height: 7.4rem;
                margin-bottom: 22px;
                padding-right: 13%;
            }
        }

        .secondary-heading {
            margin: 0;
            color: $native-secondary-color;
            font-size: 1.7rem;
            font-weight: normal;

            @media (min-width: $md) {
                font-size: 3rem;

                // line-height:4.8rem;
            }

            @media (min-width: $xle) {
                font-size: 4rem;
            }

            @media (min-width: $xle-more) {
                font-size: 5rem;
                padding-right: 13%;
            }
        }

        .description {
            color: $native-secondary-color;
            margin-top: 15px;

            @media (min-width: $md) {
                font-size: 1.6rem;
                line-height: 3rem;
                margin: 25px 0 25px;
            }

            @media (min-width: $lg) {
                max-width: 549px;
            }

            @media (min-width: $xle) {
                font-size: 1.8rem;
                margin: 37px 0 35px;
            }
        }

        .btn-outline {
            margin-top: 10px;

            @media (min-width: $xle-more) {
                margin-top: 15px;
            }
        }
    }
}

.header-main.header-main--sub{
	padding-bottom: 0;
	.fixed-top{
		box-shadow: 8px 9px 21px 0 rgba(11, 10, 10, 0.08);
	}
}